@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: rgb(83, 75, 75);
}

P {
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    color: rgb(83, 75, 75);
}
#todays-challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 52px;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(167, 1, 78);
}
a:hover {
    text-decoration: underline;
}
/* if i hover the link will become an underline */