@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=Oswald:wght@700&display=swap');

main {
    width: 800px;
    margin: 200px auto 72px auto;
    background-color: rgb(219, 108, 94);
    padding: 24px;
    border: 5px solid rgb(44, 44, 44);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid rgb(44, 44, 44);
    margin-top: -134px;
    
}

h1 {
    color: rgb(31, 25, 25);
    font-size: 30px;
}

span {
    color: rgb(66, 2, 2);
}

P {
    font-family: 'Fira Sans', sans-serif;
    color: rgb(83, 75, 75);
}
#todays-challenge {
    color: rgb(75, 59, 59);
    font-weight: bold;
    font-size: 52px;
}

a {
    color: rgb(73, 29, 50);
}
a:hover {
    text-decoration: underline;
}
/* if i hover the link will become an underline */